<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title><%=name%> Documentation</title>
        <meta name="keywords" content="<%= locals.keywords? keywords.join(',') : name %>" />
        <meta name="description" content="<%= description %>" />
        <link rel="stylesheet" type="text/css" href="<%= link.default %>/templates/default/assets/base.css" />
        <link rel="stylesheet" type="text/css" href="<%= link.default %>/static/themes/default/css/developer.css" />
        <script src="<%= link.default %>/templates/default/assets/prettify.js"></script>
        <script src="<%= link.default %>/templates/default/assets/jquery-1.8.2.min.js"></script>
    </head>
    <body>
        <div class="outer-wrapper">
            <header class="top-bar top-bar-new">
                <div class="top-bar-wrapper">
                    <div class="top-bar-left">
                        <h1 class="logo"><a href="./index.html">Lace</a></h1>
                    </div>
                </div>
            </header>